<button type="button" (click)="newAsset()">Create Asset</button>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>AssetID</th>
      <th>FileName</th>
      <th>MimeType</th>
      <th>Description</th>
      <th>CreatedBy</th>
      <th>Country</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assetval of asset | angularPaginator: { currentPage: currentPage }; let i = index">
      <td>

        <input name="name" class="form-control"
               required minlength="4" appForbiddenName="bob"
               [(ngModel)]="assetval.asset_Id" #name="ngModel">

      </td>
      <td>
        <input i name="name" class="form-control"
               required minlength="4" appForbiddenName="bob"
               [(ngModel)]="assetval.fileName" #name="ngModel">

      </td>
      <td>
        <input name="name" class="form-control"
               required minlength="4" appForbiddenName="bob"
               [(ngModel)]="assetval.mimeTypes.mime_Type" #name="ngModel">


      </td>
      <td>
        <input name="name" class="form-control"
               required minlength="4" appForbiddenName="bob"
               [(ngModel)]="assetval.description" #name="ngModel">


      </td>
      <td>
        <input name="name" class="form-control"
               required minlength="4" appForbiddenName="bob"
               [(ngModel)]="assetval.created_By" #name="ngModel">

      </td>
      <td>
        <input name="name" class="form-control"
               required minlength="4" appForbiddenName="bob"
               [(ngModel)]="assetval.countries.countryName" #name="ngModel">

      </td>
      <td>
        <input name="name" class="form-control"
               required minlength="4" appForbiddenName="bob"
               [(ngModel)]="assetval.email" #name="ngModel">

      </td>

      <td>
        <button type="button" (click)="editAsset()" [disabled]="btneditDisable">Edit</button>
      </td>
      <td>
        <button type="button" (click)="saveAsset(assetval)" [disabled]="btnsaveDisable">Save</button>
      </td>
      <td>
        <button type="button" (click)="deleteAsset(assetval)" [disabled]="btndelDisable">Delete</button>
      </td>
    </tr>
    <tr>
      {{(currentPage - 1) * itemsPerPage + i +1}}. {{item}}
    </tr>
  </tbody>

</table>
<div>
  <angular-paginator (pageChange)="currentPage = $event"></angular-paginator>
</div>

